## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
Makefile
*.log
*.status

# Object files
*.o

# Libraries
*.lib
*.a
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.lo

# Executables
*.exe
*.out
*.app

# libmalelf specifics
test/bintest/
.deps/
examples/.libs
examples/creating_elf
examples/get_section_names
examples/show_ehdr_members
examples/writing_binaries
libtool
src/.libs/
stamp-h1
config.h
test/.#binary_test.c
test/.libs/
test/main_test
/autom4te.cache/output.0
/autom4te.cache/output.1
/autom4te.cache/requests
/autom4te.cache/traces.0
/autom4te.cache/traces.1
/test/infected/cp
/test/infected/echo
/test/infected/id
/test/infected/ls
/test/infected/ps
/test/infected/pwd
/test/infected/uname
/test/tmp/test
/test/tmp/test.c
/test/Makefile.am
test/Makefile.am
/config.sub
/Makefile.in
/aclocal.m4
/config.guess
/config.h.in
/configure
/depcomp
/examples/Makefile.in
/examples/disas_binary
/install-sh
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/src/Makefile.in
/test/Makefile.in
/test/hosts/Makefile.in
/test/hosts/uninfected
/test/hosts/uninfected_asm
/test/main_test.trs
/test/malwares/Makefile.in
